@media (min-width: 500px) {

  .introduction {
    display: flex;
    align-items: center;
  }
  .introduction-text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #profile {
    max-width: 50%;
  }

}


@media (min-width: 700px) {

  h1, h2, p, li {
    font-size: 1.3em;
    line-height: normal;
  }

  .description {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  #menuToggle div {
    width: 48px;
    height: 5px;
    margin-bottom: 8px;
    transform-origin: 7px 0px;
  }

  #menu {
    width: 140px;
  }

  #menu li {
    font-size: 2em;
  }

  .icons-container img {
    width: 60px
  }

}