@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  position: fixed;
  width: 100%;
  background-color: white;

}



img {
  max-width: 100%;
}

#profile {
  margin-top: 100px;
}

#logo {
  max-width: 50%;
}


.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

#right {
  width: 42px;
  height: 70px;
}

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

 
 #menuToggle
 {
   padding-left: 10px;
   padding-top: 7px;
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: red;
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 37px;
   height: 70px;
   position: absolute;
   top: 3px;
   left: 8px;
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle div
 {
   display: block; /* block - takes all line */
   width: 32px;
   height: 4px;
   /* difference between bars */
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;

   /* rounded bars */
   border-radius: 10px;
   
   z-index: 1;

   /* center of transformation */
   transform-origin: 3px 0px;

   transition: /* chaging bars to X */
              transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               /* changing bars colour after click */
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               /* disappearing of middle bar */
               opacity 0.55s ease;
 }
 
 #menuToggle div:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle div:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ div
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: red;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ div:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ div:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: fixed;
   width: 80px;
   margin: 50px 0 0 -5px;
   padding: 25px;
   border-radius: 30px;

   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-130%, 0%);
   
   transition: transform 0.6s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
   text-align: center;
 }

 .icons-container {
   display: flex;
   justify-content: space-around;
   padding: 30px;
   padding-bottom: 50px;
 }

 .icons-container img {
   width: 40px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }

 #projects {
   display: flex;
   flex-direction: column;
 }

 #projects div {
   width: auto;
   height: 100px;
   margin: 10px;
   border: 1px solid black;
 }

footer {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  border: #232323 solid 1px;
}